.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
}

.header__logo {
  margin-bottom: 40px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 28px 0 0;
    max-width: 320px;
    max-height: 84px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
  }
}
