.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
}

.header__logo {
  margin-bottom: 41px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 580px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    margin-bottom: 32px;
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 885px) {
  .header__logo {
    margin-left: 27px;
  }
}
