.header {
  margin-top: 45px;
  max-width: 880px;
  max-height: 74px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  align-items: center;
}

.header__logo {
  margin-bottom: 40px;
}
