.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 19px;
  visibility: hidden;
}

.modal__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 430px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.6s;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  color: #000;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 50px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(86, 13, 13, 0.2);
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 29px;
  width: 100%;
  padding-bottom: 13px;
}

.modal__button {
  width: 100%;
  height: 51px;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  margin-top: 12px;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
}

.modal__container_image-preview {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
}

.modal__close_image-preview {
  bottom: calc(100% + 30px);
  left: calc(100% + 30px);
}

.modal__image {
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

.modal__image-preview {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 635px) {
  .modal__container {
    min-width: 282px;
    min-height: 322px;
    padding: 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding-bottom: 75px;
  }

  .modal__input {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 13px;
  }

  .modal__button {
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 30px);
    bottom: calc(100% + 13.62px);
  }
}
